<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57888440585-c6e7emsr4p73qp91uqdj4b4bqk2aible.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57888440585-c6e7emsr4p73qp91uqdj4b4bqk2aible</string>
	<key>API_KEY</key>
	<string>AIzaSyCz4_5ZbNO2XnmO8tYSOHIAYpWWhjpQZKo</string>
	<key>GCM_SENDER_ID</key>
	<string>57888440585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cfps.app</string>
	<key>PROJECT_ID</key>
	<string>cfps-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>cfps-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57888440585:ios:37baf14d16823f0662d3d8</string>
</dict>
</plist>